*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

.tile{
    color: #fd5c55 ;
    font-size: 60px;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 6px 0;
}

.subtitle{
    font-size: 18px;
    letter-spacing: .3px;
    color: #fbf4e0;
    margin-bottom: 0;
}




@media only screen and (max-width: 800px) {
  .tile{
    font-size: 30px;
  }

  .colsWhite{
    width: 95%;
  }
}